<ion-header>
  <ion-navbar>
    <ion-title>Components</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Mobile App Development</h2>
  <h3>Ionic Framework</h3>
  <p>
    This project will demonstrate some components and basic navigation provided by the Ionic framework.
  </p>
  <p>
    Just tap one of the following <b>buttons</b> to display different available components.
  </p>
  <p><button ion-button (click)="showToast('bottom')">Show me the "Toast" component</button></p>
  <p><button ion-button (click)="showAlert()">Show me the "Alert" component</button></p>
  <p><button ion-button (click)="showLoading()">Show me the "Loading" component</button></p>
  <p><button ion-button (click)="showActionSheet()">Show me the "Action Sheet" component</button></p>
  <p>
    You can now either navigate to the other pages by clicking on the tabs below or by clicking on the following button.
    Notice the slightly different behaviour?
  </p>
  <button ion-button (click)="goToAbout()">Next Page</button>
</ion-content>
